<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to content</a>
    {% include "header.njk" %}
    <main id="main">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
