{% macro navigationLinks(items, currentUrl, mobile=false) %}
{% for item in items %}
<a href="{{ item.url }}"{% if currentUrl == item.url %} aria-current="page"{% endif %}>{{ item.label }}{% if mobile %} <span aria-hidden="true">↗</span>{% endif %}</a>
{% endfor %}
{% endmacro %}
